@model IEnumerable<Organizer.Models.Goal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ежедневные ритуалы</h2>

<p>
    @Html.ActionLink("Добавить новую задачу", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>№</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@{ int i = 1; } 
@foreach (var item in Model) {
    <tr>
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @{ i++; }
    </tr>
}

</table>

 
